*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries/
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/assets/Edison.json
/app/app-release.apk
/app/app-debug.apk
