<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jnjcomu.edison">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/logo_colored"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_colored"
        android:supportsRtl="true"
        android:theme="@style/EdisonTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/EdisonTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edison.dimigo.hs.kr"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/EdisonTheme.BlueBackground"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>